// Geometria
$default-font-url: 'fonts/geometria/';
@function font-url($url) {
  @return url("#{$default-font-url}#{$url}");
}

@font-face {
  font-family: 'Geometria';
  src: font-url('Geometria.eot');
  src: local('Geometria'),
  font-url('Geometria.eot?#iefix') format('embedded-opentype'),
  font-url('Geometria.woff2') format('woff2'),
  font-url('Geometria.woff') format('woff'),
  font-url('Geometria.ttf') format('truetype'),
  font-url('Geometria.svg#Geometria') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: font-url('Geometria-Light.eot');
  src: local('Geometria Light'), local('Geometria-Light'),
  font-url('Geometria-Light.eot?#iefix') format('embedded-opentype'),
  font-url('Geometria-Light.woff2') format('woff2'),
  font-url('Geometria-Light.woff') format('woff'),
  font-url('Geometria-Light.ttf') format('truetype'),
  font-url('Geometria-Light.svg#Geometria-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: font-url('Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  font-url('Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('Geometria-Bold.woff2') format('woff2'),
  font-url('Geometria-Bold.woff') format('woff'),
  font-url('Geometria-Bold.ttf') format('truetype'),
  font-url('Geometria-Bold.svg#Geometria-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

//font-family: Docker;

//@font-face {
//  font-family: Docker;
//  src: url(../../fonts/Docker-One.ttf);
//}

//@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lobster&subset=cyrillic');

//font-family: 'Lobster', cursive;
//font-family: 'Comfortaa', cursive;

//$fontFamilyOne: 'Lobster', cursive; //titles
//$fontFamilyTwo: 'Comfortaa', cursive; //body
$fontFamilyOne: 'Geometria', 'Arial', sans-serif; //titles
$fontFamilyTwo: 'Geometria', 'Arial', sans-serif; //body